#main_logo {
  max-width: 200px;
  margin: 20px;
}

h2 {
  font-family: 'Raleway';
  font-size: 30px;
}

header {
    text-align: center;
    background: url(https://images.unsplash.com/photo-1434940803764-819504afa6f8?crop=entropy&dpr=2&fit=crop&fm=jpg&h=225&ixjsv=2.1.0&ixlib=rb-0.3.5&q=50&w=325);
    background-size: cover;
  }

.column1_image {
    width: 30%;
    float: left;
    padding: 15px;
}
.column1_image img {
  max-width: 200px;
}

.column2_text {
    width: 70%;
    float: left;
    padding: 15px;
}

#services_img {
  max-width: 250px;
}

.column3_text {
    width: 30%;
    float: left;
    padding: 15px;
}

.column4_image {
    width: 70%;
    float: left;
    padding: 15px;
}

* {
  font-family: 'Merriweather';
  box-sizing: border-box;
}

#nav_bar .nav_button {
    display: inline-block;
    font-size: 20px;
    padding: 00px 20px 20px 20px;
  }
a {
    color: #3E9EBD;
    font-weight: bold;
  }